streamlit
pandas
numpy
matplotlib
PyPDF2
python-pptx
langchain
langchain-community
langchain-core
langchain-text-splitters
chromadb
faiss-cpu
sentence-transformers
transformers
torch
scikit-learn
python-dotenv
tqdm
openpyxl